@use "../../colors";

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.9em;
}

input {
  display: block;
  margin-bottom: 0.75rem;
  border: 2px solid colors.$black;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

input[type="submit"] {
  margin-top: 1.5rem;
  background-color: colors.$black;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  transition-property: color, background-color;
  transition-duration: 0.5s;

  &:hover,
  &:focus {
    color: colors.$black;
    background-color: colors.$turquoise;
    cursor: pointer;
  }
}
