@use "../../breakpoints";
@use "../../colors";

.dashboard-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: breakpoints.$max-feed-width;
  padding: 2rem 1rem;

  .woops-builder {
    margin-bottom: 2rem;
  }
}
