@use "../../breakpoints";
@use "../../colors";

.profile-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: breakpoints.$max-feed-width;
  padding: 2rem 1rem;

  .profile-info {
    margin-bottom: 2.5rem;

    p {
      margin: 0.5rem 0;
    }
  }

  .bold {
    font-weight: bold;
  }
}
