@use "../../colors";
@use "../../breakpoints";

header {
  width: 100%;
  background-color: colors.$red;
  padding: 0.5rem 1rem;

  @include breakpoints.sm {
    padding: 1rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  a,
  button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .woops-logo {
    font-size: 2rem;

    @include breakpoints.sm {
      font-size: 1.5rem;
    }
  }

  .acc-links {
    display: flex;
    flex-direction: column;

    @include breakpoints.sm {
      flex-direction: row;
    }
  }

  .icon {
    margin-right: 0.2rem;
    height: 1.2rem;
    width: 1.2rem;
  }

  .profile-btn {
    margin-bottom: 0.25rem;

    @include breakpoints.sm {
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
  }

  .logout-btn {
    color: white;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  .profile-btn,
  .logout-btn {
    transition-property: text-decoration, background-color, color;
    transition-duration: 0.25s;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;

    &:hover,
    &:focus {
      text-decoration: underline;
      background-color: colors.$turquoise;
      color: colors.$black;
      border: 2px solid colors.$black;
    }
  }
}
